.venv*
.dagster
cache
greater-london-251126-free
zoopla_emails
*.eml
__pycache__
.pytest_cache
.ruff_cache
.git
.gitignore
.vscode
*.egg-info
dist
.env
flathunt_run_config.yaml
rightmove_run_config.yaml
zoopla_run_config.yaml
TODO_*.txt
tests
notebooks
*.ipynb
