[build-system]
requires = ["setuptools >= 77.0.3"]
build-backend = "setuptools.build_meta"

[project]
name = "flathunt"
version = "0.19.0"
description = "Flat hunt application for improving the search experience"
authors = [{name = "Cemlyn Neil Waters", email = "cemlynwaters@gmail.com"},]
readme = "README.md"
requires-python = ">=3.12"

dependencies = [
    "tenacity",
    "pydantic>=2.0.0",
    "scipy>=1.15.2",
    "numpy>=2.2.4",
    "tqdm>=4.0.0",
    "polyline>=2.0.2",
    "httpx>=0.28.1",
    "httpx-limiter>=0.4.0",
]

[project.optional-dependencies]
dev = [
    "matplotlib>=3.10.7",
]

[dependency-groups]
dev = [
    "notebook>=7.5.0",
    "pre-commit>=3.3.0",
    "pytest>=7.3.0",
    "python-dotenv>=1.2.1",
    "python-semantic-release==9.21",
    "ruff>=0.14.6",
]

[project.scripts]
search = "rightmove.scripts.search:main"
update-search-locations = "rightmove.scripts.update_search_locations:main"

[tool.ruff]
extend-include = ["*.ipynb"]

[tool.pytest.ini_options]
markers = [
    "regression: marks tests as regression tests",
]
addopts = "-m 'not regression'"

[tool.semantic_release]
version_toml = [
    "pyproject.toml:project.version",
]
assets = []
commit_message = "{version}\n\nAutomatically generated by python-semantic-release"
commit_parser = "conventional"
logging_use_named_masks = false
major_on_zero = true
tag_format = "v{version}"
build_command = "pip install build && python -m build"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "rc"
prerelease = false

[tool.semantic_release.changelog]
template_dir = "templates"
exclude_commit_patterns = []

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG.md"

[tool.semantic_release.changelog.environment]
block_start_string = "{%"
block_end_string = "%}"
variable_start_string = "{{"
variable_end_string = "}}"
comment_start_string = "{#"
comment_end_string = "#}"
trim_blocks = false
lstrip_blocks = false
newline_sequence = "\n"
keep_trailing_newline = false
extensions = []
autoescape = true

[tool.semantic_release.commit_author]
env = "GIT_COMMIT_AUTHOR"
default = "semantic-release <semantic-release>"

[tool.semantic_release.commit_parser_options]
allowed_tags = ["build", "chore", "ci", "docs", "feat", "fix", "perf", "style", "refactor", "test"]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false

[tool.semantic_release.remote.token]
env = "GH_TOKEN"

[tool.semantic_release.publish]
dist_glob_patterns = ["dist/*"]
upload_to_vcs_release = true
